body {
    background: linear-gradient(#2b1055, #7597de);
    min-height:100vh;
}

section {
    position:relative;
    width:100%;
    height:200vh;
    padding:100px;
    display:flex;
    justify-content: center;
    align-items:center;
    
}
section img {
    position:absolute;
    object-fit:cover;
}

#spaceman {
    width:200px;
    left:600px;
    top:-800px;
    position:absolute;

}

section img#planet {
    width:800px;
    position:absolute;
    top:100px;
    left:60%;
}

section img#shooting {
    width:500px;
    position:absolute;
    top:500px;
    
}

section img#satellite {
    width:400px;
    position:absolute;
    top:1500px;
    
    
}

section img#spaceman {
    width:200px;
    position:absolute;
    top:930px;
    margin-top:300px;
}
section img#text {
    width:700px;
    position:absolute;
    top:-280px;
    left:300px;
    
}

#earth {
    width:600px;
    top:2900px;
    left:150px;
    z-index:-1;
}

section img#birds {
    width:800px;
    position:absolute;
    top:2200px;
    left:300px;
    
}




